<a href="https://colab.research.google.com/github/HiranmaiKaredla/PatriotHacks/blob/main/Text_to_CSV_query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import getpass
import os

os.environ["OPENAI_API_KEY"] = ""

In [2]:
#!wget https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv -O titanic.csv

In [3]:
import pandas as pd

df = pd.read_csv("/content/apartments_for_rent_classified_10K.csv", encoding="latin-1", sep=";")
print(df.shape)
print(df.columns.tolist())

(10000, 22)
['id', 'category', 'title', 'body', 'amenities', 'bathrooms', 'bedrooms', 'currency', 'fee', 'has_photo', 'pets_allowed', 'price', 'price_display', 'price_type', 'square_feet', 'address', 'cityname', 'state', 'latitude', 'longitude', 'source', 'time']

In [4]:
df.head(5)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

In [6]:
%pip install -qU langchain langchain-openai langchain-community langchain-experimental pandas

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 2.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 kB 3.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 17.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 3.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 47.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 208.1/208.1 kB 12.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 83.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.4/404.4 kB 23.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.8/295.8 kB 19.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 383.7/383.7 kB 19.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 48.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.4/76.4 kB 5.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.0/78.0 kB 4.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 325.2/325.2 kB 20.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 3.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.9/141.9 kB 9.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 3.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 3.6 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.6.1 requires pandas<2.2.3dev0,>=2.0, but you have pandas 2.2.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.2.3 which is incompatible.

In [41]:
%%capture --no-stderr
%pip install --upgrade --quiet langchain langchain-community langchain-openai faiss-cpu

In [7]:
from langchain_community.utilities import SQLDatabase
from sqlalchemy import create_engine

engine = create_engine("sqlite:///properties.db")
df.to_sql("properties", engine, index=False)

10000

In [8]:
db = SQLDatabase(engine=engine)
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM properties WHERE cityname = 'Seattle' limit 3;")

sqlite
['properties']

"[(5659918074, 'housing/rent/apartment', 'Studio apartment 1717 12th Ave', 'This unit is located at 1717 12th Ave, Seattle, 98122, WAMonthly rental rates range from $925We have studio units available for rent', None, 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 925, '$925', 'Monthly', 116, '1717 12th Avenue', 'Seattle', 'WA', 47.616, -122.3275, 'RentLingo', 1576667743), (5668634310, 'housing/rent/apartment', 'Studio apartment 6921 Roosevelt Way NE', 'This unit is located at 6921 Roosevelt Way NE, Seattle, 98115, WAMonthly rental rates range from $1195We have studio units available for rent', None, 1.0, 0.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1195, '$1,195', 'Monthly', 223, '6921 Roosevelt Way NE', 'Seattle', 'WA', 47.616, -122.3275, 'RentLingo', 1577359975), (5668640879, 'housing/rent/apartment', 'Studio apartment 714 N. 95th St.', 'This unit is located at 714 N. 95th St., Seattle, 98103, WAMonthly rental rates range from $1150We have studio units available for rent', None, 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 1150, '$1,150', 'Monthly', 225, '714 N 95th St', 'Seattle', 'WA', 47.616, -122.3275, 'RentLingo', 1577360412)]"

In [36]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True, return_intermediate_steps=True)

In [37]:
result = agent_executor.invoke({"input": "Give all the properties in the Arlington with 2bhk"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


properties
Invoking: `sql_db_schema` with `{'table_names': 'properties'}`



CREATE TABLE properties (
	id BIGINT,
	category TEXT,
	title TEXT,
	body TEXT,
	amenities TEXT,
	bathrooms FLOAT,
	bedrooms FLOAT,
	currency TEXT,
	fee TEXT,
	has_photo TEXT,
	pets_allowed TEXT,
	price BIGINT,
	price_display TEXT,
	price_type TEXT,
	square_feet BIGINT,
	address TEXT,
	cityname TEXT,
	state TEXT,
	latitude FLOAT,
	longitude FLOAT,
	source TEXT,
	time BIGINT
)

/*
3 rows from properties table:
id	category	title	body	amenities	bathrooms	bedrooms	currency	fee	has_photo	pets_allowed	price	price_display	price_type	square_feet	address	cityname	state	latitude	longitude	source	time
5668626895	housing/rent/apartment	Studio apartment 2nd St NE, Uhland Terrace NE, Washington, DC 20002	This unit is located at second St NE, Uhland Terrace NE, Washington, DC 20002, Washington, 20002, DC	None	None	0.0	USD	No	Thumbnail	None	790	$790	Monthly	101	None	Washington	DC	38.9057	-76.9861	RentLingo	1577359415
5664597177	housing/rent/apartment	Studio apartment 814 Schutte Road	This unit is located at 814 Schutte Road, Evansville, 47712, INMonthly rental rates range from $425 	None	None	1.0	USD	No	Thumbnail	None	425	$425	Monthly	106	814 Schutte Rd	Evansville	IN	37.968	-87.6621	RentLingo	1577017063
5668626833	housing/rent/apartment	Studio apartment N Scott St, 14th St N, Arlington, VA 22209	This unit is located at N Scott St, 14th St N, Arlington, VA 22209, Arlington, 22209, VAMonthly rent	None	1.0	0.0	USD	No	Thumbnail	None	1390	$1,390	Monthly	107	None	Arlington	VA	38.891	-77.0816	RentLingo	1577359410
*/
Invoking: `sql_db_query` with `{'query': "SELECT * FROM properties WHERE cityname = 'Arlington' AND bedrooms = 2"}`


[(5668624600, 'housing/rent/apartment', 'Studio apartment 815 18th St S', 'This unit is located at 815 18th St S, Arlington, 22202, VAMonthly rental rates range from $1549 - $2024We have studio - 2 beds units available for rent Apartment features include:-- On-Site Laundry- Dishwasher- Fitness facilities- Refrigerator- On Bus Line', 'Dishwasher,Refrigerator', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1549, '$1,549', 'Monthly', 431, '815 18th St S', 'Arlington', 'VA', 38.8738, -77.1055, 'RentLingo', 1577359252), (5668613886, 'housing/rent/apartment', 'Studio apartment 1919 Clarendon Blvd', 'This unit is located at 1919 Clarendon Blvd, Arlington, 22201, VAMonthly rental rates range from $2100 - $3060We have studio - 2 beds units available for rent Apartment features include:-- Balcony, Deck, Patio- A/c- Dishwasher- Refrigerator- Fitness facilities- Living Room- Sheltered parking-...', 'Cable or Satellite,Dishwasher,Internet Access,Parking,Patio/Deck,Pool,Refrigerator', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 2100, '$2,100', 'Monthly', 533, '1919 Clarendon Boulevard', 'Arlington', 'VA', 38.8738, -77.1055, 'RentLingo', 1577358561), (5668613880, 'housing/rent/apartment', 'Studio apartment 1351 N Rolfe St', 'This unit is located at 1351 N Rolfe St, Arlington, 22209, VAMonthly rental rates range from $2150 - $4365We have studio - 2 beds units available for rent Apartment features include:-- Business facility- Fitness facilities- Air conditioned- Pool', 'Pool', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 2150, '$2,150', 'Monthly', 535, '1351 N Rolfe St', 'Arlington', 'VA', 38.8738, -77.1055, 'RentLingo', 1577358561), (5668613955, 'housing/rent/apartment', 'Studio apartment 505 18th Street South', 'This unit is located at 505 18th Street South, Arlington, 22202, VAMonthly rental rates range from $1953 - $2663We have studio - 2 beds units available for rent Apartment features include:-- On Bus Line- Business facility- Fitness facilities- Sheltered parking', 'Parking', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1953, '$1,953', 'Monthly', 568, '505 18th St South', 'Arlington', 'VA', 38.8738, -77.1055, 'RentLingo', 1577358567), (5509079183, 'housing/rent/apartment', 'Discover a new Aire Apartments in Arlington.', 'The location of this community Tharp. in the area of Arlington. Make a visit to check out the current floor plan options. A unique variety of amenities and features are waiting for community. Enjoy a beautiful swimming pool, 3 clothes care centers, great outdoor landscaping and be close to...', 'Pool', 1.0, 2.0, 'USD', 'No', 'Thumbnail', None, 814, '$814', 'Monthly', 690, None, 'Arlington', 'TX', 32.722, -97.083, 'RentDigs.com', 1568772228), (5664578065, 'housing/rent/apartment', 'Two BR 308 S W St', 'This unit is located at 308 S W St, Arlington, 76010, TXMonthly rental rates range from $895We have 2 beds units available for rent Apartment available amenities:-- Surface Parking- Living Room- Range / Oven- Refrigerator- Water Included- On-Site Laundry- Trash Removal Included- Air conditioner', 'Cable or Satellite,Parking,Refrigerator', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 895, '$895', 'Monthly', 718, '308 S W St', 'Arlington', 'TX', 32.7025, -97.1196, 'RentLingo', 1577015616), (5509093080, 'housing/rent/apartment', 'Convenient location Two BR One BA for rent', 'Feel the energy of the GRIDs vibrant social scene and irresistible, 1 of the newest additions to this one-of-a-kind master community. Step outside your door into the center of Arlington with effortless connection to major highways, giving you instant access to all the hottest social scenes,...', 'Gym,Parking', 1.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1025, '$1,025', 'Monthly', 803, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568772955), (5509091562, 'housing/rent/apartment', 'One BA $1,025/mo Arlington - must see to believe. Pet OK!', 'Feel the energy of the GRIDs vibrant social scene and irresistible, 1 of the newest additions to this one-of-a-kind master community. Step outside your door into the center of Arlington with effortless connection to major highways, giving you instant access to all the hottest social scenes,...', 'Gym,Parking', 1.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1025, '$1,025', 'Monthly', 803, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568772874), (5509088880, 'housing/rent/apartment', '$1,025/mo - in a great area.', 'Feel the energy of the GRIDs vibrant social scene and irresistible, 1 of the newest additions to this one-of-a-kind master community. Step outside your door into the center of Arlington with effortless connection to major highways, giving you instant access to all the hottest social scenes,...', 'Gym,Parking', 1.0, 2.0, 'USD', 'No', 'Yes', None, 1025, '$1,025', 'Monthly', 803, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568772720), (5509119574, 'housing/rent/apartment', 'Outstanding Opportunity To Live At The Arlington City Club', 'Square footage: 823 square ft, unit number: 2535. Providence in the Park Apartment Homes lives up to its name, situated on wooded acreage in the heart of Arlington with towering trees, beautiful gardens and open space galore. But don t let this picturesque setting fool you we re just minutes to...', 'AC,Clubhouse,Dishwasher,Fireplace,Garbage Disposal,Gated,Gym,Parking,Patio/Deck,Storage', 1.0, 2.0, 'USD', 'No', 'Yes', 'Cats,Dogs', 1280, '$1,280', 'Monthly', 823, None, 'Arlington', 'TX', 32.6924, -97.1324, 'RentDigs.com', 1568774403), (5509089456, 'housing/rent/apartment', 'Arlington, prime location Two BR, Apartment', 'Square footage: 876 sq-ft, unit number: 511. Apartments in Arlington, Texas offers residents exceptional design, energized living, and extraordinary beauty. Our apartment community provides a variety of distinctive 1 and 2 beds apartment homes that accommodate a number of lifestyles and income...', 'Parking,Patio/Deck,Pool,Storage', 2.0, 2.0, 'USD', 'No', 'Yes', None, 1180, '$1,180', 'Monthly', 876, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568772754), (5509093636, 'housing/rent/apartment', 'Two BR, Two BA, safe neighborhood', 'Square footage: 876 sq-ft, unit number: 1307. Apartments in Arlington, Texas offers residents exceptional design, energized living, and extraordinary beauty. Our apartment community provides a variety of distinctive 1 and 2 beds apartment homes that accommodate a number of lifestyles and income...', 'Parking,Patio/Deck,Pool,Storage', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1180, '$1,180', 'Monthly', 876, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568772995), (5509127925, 'housing/rent/apartment', 'Two BR Apartment - Large & Bright', 'Welcome home , a serene apartment community offering beautiful one, two, and three beds apartment homes. Our units feature private patios and balconies, generous walk-in closets, fully equipped kitchens, in-home washer dryer hookups, and a spacious, open design, creating the ideal space for both...', 'Gym,Hot Tub,Parking,Playground,Pool,Washer Dryer', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1169, '$1,169', 'Monthly', 876, None, 'Arlington', 'TX', 32.6548, -97.1587, 'RentDigs.com', 1568774860), (5509108550, 'housing/rent/apartment', 'Apartment only for $1,112/mo. You Can Stop Looking Now. Single Car Garage!', 'Square footage: 882 sq. feet, unit number: 1224. Introducing an exciting new Park Apartment Homes, a brilliant community designed just for you. Beautiful landscaped grounds, a variety of resident privileges, and striking homes with amazing interiors define a distinctive living experience. Enjoy...', 'Parking', 1.0, 2.0, 'USD', 'No', 'No', None, 1112, '$1,112', 'Monthly', 882, None, 'Arlington', 'TX', 32.696, -97.0878, 'RentDigs.com', 1568773866), (5509080503, 'housing/rent/apartment', 'Treat yourself to a beautiful living Pointe. Pet OK!', 'Featuring pets allowed 1 and 2 beds apartment homes in Arlington, Texas, we have the right space for your needs. Each home is equipped with energy saving kitchen appliances, chic hardwood-style flooring, and a private balcony or patio for a touch of outdoor space all your own. Conveniently...', 'Patio/Deck', 2.0, 2.0, 'USD', 'No', 'Yes', 'Cats,Dogs', 1015, '$1,015', 'Monthly', 883, None, 'Arlington', 'TX', 32.722, -97.083, 'RentDigs.com', 1568772288), (5509133643, 'housing/rent/apartment', '$1,275/mo, Apartment - convenient location.', 'Square footage: 926 sq-ft, unit number: 1804. Situated in a beautiful growing area of south Arlington, Villa is located within minutes to The, Paragon Outlets, Arlington s, fine dining restaurants and I-20. Villa offers graceful living with 1 and 2 beds apartment homes each with its own...', 'Gym,Internet Access,Parking', 1.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1275, '$1,275', 'Monthly', 926, None, 'Arlington', 'TX', 32.6548, -97.1587, 'RentDigs.com', 1568775167), (5509070702, 'housing/rent/apartment', 'Over 960 sf in Arlington. Pet OK!', 'Live the life of style, comfort, and Apartment Living in Arlington, TX. This spectacular community offers spacious 1 and 2 beds apartment homes situated in the heart of Arlington, just minutes from 6 Flags, the new Ballpark, DFW Airport, and UTA. Exceptional by design. Located in the "Heart" of...', 'Fireplace,Gym,Hot Tub,Pool,Storage,Washer Dryer', 2.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1015, '$1,015', 'Monthly', 960, None, 'Arlington', 'TX', 32.7767, -97.0816, 'RentDigs.com', 1568771745), (5509134442, 'housing/rent/apartment', 'Two BR, Two BA, safe neighborhood', 'Square footage: 961 sq. feet, unit number: 1112. Welcome home , a serene apartment community offering beautiful one, two, and three beds apartment homes. Our units feature private patios and balconies, generous walk-in closets, fully equipped kitchens, in-home washer and dryer hookups, and a...', 'Gym,Hot Tub,Parking,Playground,Pool,Washer Dryer', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1394, '$1,394', 'Monthly', 961, None, 'Arlington', 'TX', 32.6548, -97.1587, 'RentDigs.com', 1568775237), (5509070025, 'housing/rent/apartment', 'Move-in condition, Two BR Two BA', 'is located in the heart of Arlington and surrounded by some of the cities greatest attractions. Within a five-mile radius you will find some of the best trails, shopping, schools and restaurants that this city has to offer. Income Requirement: Must have 3. 0x the rent in total household income...', 'Parking', 2.0, 2.0, 'USD', 'No', 'Yes', None, 1060, '$1,060', 'Monthly', 976, None, 'Arlington', 'TX', 32.7767, -97.0816, 'RentDigs.com', 1568771694), (5509069119, 'housing/rent/apartment', 'Move-in condition, Two BR Two BA', 'Square footage: 986 sq-ft, unit number: 31-3112-EP. When you come home after a long day, youre looking for rest and relaxation, thats exactly what youll get day in and day Hudson Apartment Homes. Youll love entertaining friends in our plush community club house or enjoy a friendly game with your...', 'Clubhouse,Gym,Parking,Tennis', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1245, '$1,245', 'Monthly', 986, None, 'Arlington', 'TX', 32.7767, -97.0816, 'RentDigs.com', 1568771619), (5509094905, 'housing/rent/apartment', 'Welcome to the Stadium West Apartments!', 'Love Where You Live! At Stadium West Apartments, our 1st priority is making our residents spacious two beds apartments offer balconies, fireplaces, dishwashers and more. Our pets allowed community is equipped with ample parking, grill and picnic area, great outdoor landscaping and a neighborly...', 'Dishwasher,Fireplace', 2.0, 2.0, 'USD', 'No', 'Yes', None, 920, '$920', 'Monthly', 988, None, 'Arlington', 'TX', 32.7583, -97.088, 'RentDigs.com', 1568773067), (5509113967, 'housing/rent/apartment', 'The Best of the Best in the City of Arlington! Save Big!', 'Enjoy a life of. on lush, landscaped grounds, our community offers an extensive amenities package to help you make the most of your downtime. Kick back and soak up the resort-style swimming pool, complete with stunning and comfortable designer lounge furniture. Make a night of it and bring along...', 'Fireplace,Pool', 1.5, 2.0, 'USD', 'No', 'No', None, 1290, '$1,290', 'Monthly', 993, None, 'Arlington', 'TX', 32.6924, -97.1324, 'RentDigs.com', 1568774133), (5509128699, 'housing/rent/apartment', 'Move-in condition, Two BR Two BA', 'Square footage: 1050 square feet, unit number: 0707. Located in Arlington and part of the Dallas-Fort Worth Metroplex, Wimbledon Oaks offers one- and 2 beds newly upgraded apartment homes in a variety of floor plans featuring large patios, enclosed sunrooms, customized cabinets, designer...', 'Gym,Parking,Pool', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1275, '$1,275', 'Monthly', 1050, None, 'Arlington', 'TX', 32.6548, -97.1587, 'RentDigs.com', 1568774899), (5509119719, 'housing/rent/apartment', 'Arlington - superb Apartment nearby fine dining. Single Car Garage!', 'Square footage: 1052 square feet, unit number: 1634. Providence in the Park Apartment Homes lives up to its name, situated on wooded acreage in the heart of Arlington with towering trees, beautiful gardens and open space galore. But don t let this picturesque setting fool you we re just minutes...', 'AC,Clubhouse,Dishwasher,Fireplace,Garbage Disposal,Gated,Gym,Parking,Patio/Deck,Storage', 2.0, 2.0, 'USD', 'No', 'Thumbnail', 'Cats,Dogs', 1265, '$1,265', 'Monthly', 1052, None, 'Arlington', 'TX', 32.6924, -97.1324, 'RentDigs.com', 1568774413), (5509117628, 'housing/rent/apartment', 'Arlington, Two BR, Two BA for rent', 'Square footage: 1082 sq-ft, unit number: 0437. Welcome to Franciscan Of Arlington Exceeding Your Expectations with Extraordinary Living in a Centralized Location Experience the desirable luxury apartment homes that The Franciscan of Arlington has to offer! Our elegant apartments in Arlington,...', 'Clubhouse,Gym,Hot Tub', 2.0, 2.0, 'USD', 'No', 'Yes', None, 1395, '$1,395', 'Monthly', 1082, None, 'Arlington', 'TX', 32.6924, -97.1324, 'RentDigs.com', 1568774309), (5509104127, 'housing/rent/apartment', 'This Apartment is a must see. Pet OK!', 'Square footage: 1095 sq-ft, unit number: 136. Woodland Park offers a lifestyle full of new friendships, activity and wide open spaces. Our recently remodeled community offers an awesome swimming pool complete with pergola, clubroom, play-area, grill areas and much more. Yes, you are going to...', 'Parking,Playground,Pool,Storage', 1.5, 2.0, 'USD', 'No', 'Yes', 'Cats,Dogs', 1217, '$1,217', 'Monthly', 1095, None, 'Arlington', 'TX', 32.7192, -97.1513, 'RentDigs.com', 1568773618), (5508984544, 'housing/rent/apartment', 'WELL MAINTAINED Two BR, One BA WITH HARDWOOD FLOORS. 2 Car Garage!', 'BIG LIVING ROOM, DEDICATED DINING AREA ROOM AREA THAT GETS PLENTY OF SUNLIGHT. NEW KITCHEN WITH FRIDGE, STOVE, DISHWASHER/DISPOSAL INCLUDED. PANTRY. HAS GAS HEAT AND UP-TO-DATE WINDOWS. BACKYARD/PORCH FOR USE AND HAS. PARKING WITH one GARAGE SPOT! HAS STORAGE AND WASHER & DRYER HOOKUPS IN THE...', 'Dishwasher,Parking,Patio/Deck,Refrigerator,Storage,Washer Dryer,Wood Floors', 1.0, 2.0, 'USD', 'No', 'Yes', None, 2200, '$2,200', 'Monthly', 1100, None, 'Arlington', 'MA', 42.418, -71.1669, 'RentDigs.com', 1568765337), (5509060594, 'housing/rent/apartment', 'Gorgeous Arlington, Two BR, Two BA', 'Jordan Creek is home to comfortable and spacious apartments in Arlington, TX. The community is showing 1 and 2 beds floor plans with plenty of features to give you an exciting living environment. The kitchens all include space for a breakfast area on the expansive countertops and convenient...', 'Clubhouse,Dishwasher,Gated,Gym,Parking,Pool,Storage', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1225, '$1,225', 'Monthly', 1120, None, 'Arlington', 'TX', 32.7767, -97.0816, 'RentDigs.com', 1568771077), (5509130110, 'housing/rent/apartment', 'Lease Spacious 2+2. Approx 1,158 sf of Living Space!', 'Square footage: 1158 square feet, unit number: 922. Welcome home , a serene apartment community offering beautiful one, two, and three beds apartment homes. Our units feature private patios and balconies, generous walk-in closets, fully equipped kitchens, in-home washer & dryer hookups, and a...', 'Gym,Hot Tub,Parking,Playground,Pool,Washer Dryer', 2.0, 2.0, 'USD', 'No', 'Thumbnail', None, 1454, '$1,454', 'Monthly', 1158, None, 'Arlington', 'TX', 32.6548, -97.1587, 'RentDigs.com', 1568774977)]Here are some properties in Arlington with 2 bedrooms:

1. Property: Studio apartment 815 18th St S
   - Address: 815 18th St S, Arlington, VA 22202
   - Price: $1,549 per month
   - Amenities: On-Site Laundry, Dishwasher, Fitness facilities, Refrigerator

2. Property: Studio apartment 1919 Clarendon Blvd
   - Address: 1919 Clarendon Blvd, Arlington, VA 22201
   - Price: $2,100 per month
   - Amenities: Balcony, Deck, Patio, A/c, Dishwasher, Refrigerator, Fitness facilities

3. Property: Studio apartment 1351 N Rolfe St
   - Address: 1351 N Rolfe St, Arlington, VA 22209
   - Price: $2,150 per month
   - Amenities: Business facility, Fitness facilities, Air conditioned, Pool

4. Property: Studio apartment 505 18th Street South
   - Address: 505 18th Street South, Arlington, VA 22202
   - Price: $1,953 per month
   - Amenities: On Bus Line, Business facility, Fitness facilities, Sheltered parking

5. Property: Two BR 308 S W St
   - Address: 308 S W St, Arlington, TX 76010
   - Price: $895 per month
   - Amenities: Surface Parking, Living Room, Range / Oven, Refrigerator, Water Included, On-Site Laundry, Trash Removal Included, Air conditioner

Please let me know if you need more information.

> Finished chain.

In [38]:
import json
result["output"]

'Here are some properties in Arlington with 2 bedrooms:\n\n1. Property: Studio apartment 815 18th St S\n   - Address: 815 18th St S, Arlington, VA 22202\n   - Price: $1,549 per month\n   - Amenities: On-Site Laundry, Dishwasher, Fitness facilities, Refrigerator\n\n2. Property: Studio apartment 1919 Clarendon Blvd\n   - Address: 1919 Clarendon Blvd, Arlington, VA 22201\n   - Price: $2,100 per month\n   - Amenities: Balcony, Deck, Patio, A/c, Dishwasher, Refrigerator, Fitness facilities\n\n3. Property: Studio apartment 1351 N Rolfe St\n   - Address: 1351 N Rolfe St, Arlington, VA 22209\n   - Price: $2,150 per month\n   - Amenities: Business facility, Fitness facilities, Air conditioned, Pool\n\n4. Property: Studio apartment 505 18th Street South\n   - Address: 505 18th Street South, Arlington, VA 22202\n   - Price: $1,953 per month\n   - Amenities: On Bus Line, Business facility, Fitness facilities, Sheltered parking\n\n5. Property: Two BR 308 S W St\n   - Address: 308 S W St, Arlington, TX 76010\n   - Price: $895 per month\n   - Amenities: Surface Parking, Living Room, Range / Oven, Refrigerator, Water Included, On-Site Laundry, Trash Removal Included, Air conditioner\n\nPlease let me know if you need more information.'

In [39]:
result

{'input': 'Give all the properties in the Arlington with 2bhk',
 'output': 'Here are some properties in Arlington with 2 bedrooms:\n\n1. Property: Studio apartment 815 18th St S\n   - Address: 815 18th St S, Arlington, VA 22202\n   - Price: $1,549 per month\n   - Amenities: On-Site Laundry, Dishwasher, Fitness facilities, Refrigerator\n\n2. Property: Studio apartment 1919 Clarendon Blvd\n   - Address: 1919 Clarendon Blvd, Arlington, VA 22201\n   - Price: $2,100 per month\n   - Amenities: Balcony, Deck, Patio, A/c, Dishwasher, Refrigerator, Fitness facilities\n\n3. Property: Studio apartment 1351 N Rolfe St\n   - Address: 1351 N Rolfe St, Arlington, VA 22209\n   - Price: $2,150 per month\n   - Amenities: Business facility, Fitness facilities, Air conditioned, Pool\n\n4. Property: Studio apartment 505 18th Street South\n   - Address: 505 18th Street South, Arlington, VA 22202\n   - Price: $1,953 per month\n   - Amenities: On Bus Line, Business facility, Fitness facilities, Sheltered parking\n\n5. Property: Two BR 308 S W St\n   - Address: 308 S W St, Arlington, TX 76010\n   - Price: $895 per month\n   - Amenities: Surface Parking, Living Room, Range / Oven, Refrigerator, Water Included, On-Site Laundry, Trash Removal Included, Air conditioner\n\nPlease let me know if you need more information.'}

In [42]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///properties.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM properties LIMIT 10;")

sqlite
['properties']

"[(5668626895, 'housing/rent/apartment', 'Studio apartment 2nd St NE, Uhland Terrace NE, Washington, DC 20002', 'This unit is located at second St NE, Uhland Terrace NE, Washington, DC 20002, Washington, 20002, DCMonthly rental rates range from $790 - $1090We have studio units available for rent', None, None, 0.0, 'USD', 'No', 'Thumbnail', None, 790, '$790', 'Monthly', 101, None, 'Washington', 'DC', 38.9057, -76.9861, 'RentLingo', 1577359415), (5664597177, 'housing/rent/apartment', 'Studio apartment 814 Schutte Road', 'This unit is located at 814 Schutte Road, Evansville, 47712, INMonthly rental rates range from $425 - $445We have studio - 1 beds units available for rent', None, None, 1.0, 'USD', 'No', 'Thumbnail', None, 425, '$425', 'Monthly', 106, '814 Schutte Rd', 'Evansville', 'IN', 37.968, -87.6621, 'RentLingo', 1577017063), (5668626833, 'housing/rent/apartment', 'Studio apartment N Scott St, 14th St N, Arlington, VA 22209', 'This unit is located at N Scott St, 14th St N, Arlington, VA 22209, Arlington, 22209, VAMonthly rental rates range from $1390We have studio units available for rent', None, 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 1390, '$1,390', 'Monthly', 107, None, 'Arlington', 'VA', 38.891, -77.0816, 'RentLingo', 1577359410), (5659918074, 'housing/rent/apartment', 'Studio apartment 1717 12th Ave', 'This unit is located at 1717 12th Ave, Seattle, 98122, WAMonthly rental rates range from $925We have studio units available for rent', None, 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 925, '$925', 'Monthly', 116, '1717 12th Avenue', 'Seattle', 'WA', 47.616, -122.3275, 'RentLingo', 1576667743), (5668626759, 'housing/rent/apartment', 'Studio apartment Washington Blvd, N Cleveland St, Arlington', 'This unit is located at Washington Blvd, N Cleveland St, Arlington, Arlington, 22201, VAMonthly rental rates range from $880We have studio units available for rent', None, None, 0.0, 'USD', 'No', 'Thumbnail', None, 880, '$880', 'Monthly', 125, None, 'Arlington', 'VA', 38.8738, -77.1055, 'RentLingo', 1577359401), (5667891676, 'housing/rent/apartment', '0 BR in New York NY 10019', '**RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVAILABLE IMMEDIATELY** $2475 RENT IS NET EFFECTIVE WITH one month FREE ON $2700 Monthly rent***Low Fee*UNFURNISHED Spacious and Sunny Southern facing studio (403 sq-ft) with big private terrace (130 sq. feet) basks in natural sunlight all day long,...', 'Dishwasher,Elevator,Patio/Deck,Pool,Storage', 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 2475, '$2,475', 'Monthly', 130, '350 West 50th St', 'Manhattan', 'NY', 40.7629, -73.9885, 'Listanza', 1577289784), (5668627426, 'housing/rent/apartment', 'Studio apartment 2432 Penmar Ave', 'This unit is located at 2432 Penmar Ave, Venice, 90291, CAMonthly rental rates range from $1800We have studio units available for rent', None, None, 0.0, 'USD', 'No', 'Thumbnail', None, 1800, '$1,800', 'Monthly', 132, '2432 Penmar Avenue', 'Venice', 'CA', 33.9932, -118.4609, 'RentLingo', 1577359461), (5668626687, 'housing/rent/apartment', 'Studio apartment Oak St NW, 16th St NW, Washington, DC 20010', 'This unit is located at Oak St NW, 16th St NW, Washington, DC 20010, Washington, 20010, DCMonthly rental rates range from $840We have studio units available for rent', None, None, 0.0, 'USD', 'No', 'Thumbnail', None, 840, '$840', 'Monthly', 136, None, 'Washington', 'DC', 38.9328, -77.0297, 'RentLingo', 1577359393), (5668610290, 'housing/rent/apartment', 'Studio apartment 333 Hyde St', 'This unit is located at 333 Hyde St, San Francisco, 94109, CAMonthly rental rates range from $1495We have studio units available for rent Apartment features include:-- On Bus Line- Refrigerator', 'Refrigerator', 1.0, 0.0, 'USD', 'No', 'Thumbnail', None, 1495, '$1,495', 'Monthly', 138, '333 Hyde St', 'San Francisco', 'CA', 37.7599, -122.4379, 'RentLingo', 1577358313), (5668627023, 'housing/rent/apartment', 'Studio apartment A St SE, 19th St SE, Washington', 'This unit is located at A St SE, 19th St SE, Washington, Washington, 20003, DCMonthly rental rates range from $890We have studio units available for rent', None, None, 0.0, 'USD', 'No', 'Thumbnail', None, 890, '$890', 'Monthly', 141, None, 'Washington', 'DC', 38.9118, -77.0132, 'RentLingo', 1577359424)]"

In [43]:
%pip install -qU langchain-openai

In [65]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo")

from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(llm, db)

'SELECT "id" \nFROM properties \nWHERE cityname = \'Arlington\' AND bedrooms = 2\nLIMIT 5;'

In [75]:
query = "Give all the properties in seatle with 2bhk which has parking"
response = chain.invoke({"question": "Get ids of {query}".format(query=query)})
response

'SELECT "id"\nFROM properties\nWHERE cityname = \'Seattle\' AND bedrooms = 2 AND amenities LIKE \'%parking%\'\nLIMIT 5;'

In [76]:
records = db.run(response)

In [77]:
records

'[(5668639228,)]'

In [72]:
import re
id_numbers = [int(num) for num in re.findall(r'\d+', records)]
print(id_numbers)

[5668624600, 5668613886, 5668613880, 5668613955, 5509079183]

In [69]:
print(json.dumps(records, indent=2, default=str))

"[(5668624600,), (5668613886,), (5668613880,), (5668613955,), (5509079183,)]"

In [74]:
filtered_df = df[df['id'].isin(id_numbers)]
filtered_df

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
587,5668624600,housing/rent/apartment,Studio apartment 815 18th St S,"This unit is located at 815 18th St S, Arlingt...","Dishwasher,Refrigerator",1.0,2.0,USD,No,Thumbnail,...,"$1,549",Monthly,431,815 18th St S,Arlington,VA,38.8738,-77.1055,RentLingo,1577359252
1244,5668613886,housing/rent/apartment,Studio apartment 1919 Clarendon Blvd,"This unit is located at 1919 Clarendon Blvd, A...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,2.0,USD,No,Thumbnail,...,"$2,100",Monthly,533,1919 Clarendon Boulevard,Arlington,VA,38.8738,-77.1055,RentLingo,1577358561
1255,5668613880,housing/rent/apartment,Studio apartment 1351 N Rolfe St,"This unit is located at 1351 N Rolfe St, Arlin...",Pool,1.0,2.0,USD,No,Thumbnail,...,"$2,150",Monthly,535,1351 N Rolfe St,Arlington,VA,38.8738,-77.1055,RentLingo,1577358561
1568,5668613955,housing/rent/apartment,Studio apartment 505 18th Street South,"This unit is located at 505 18th Street South,...",Parking,1.0,2.0,USD,No,Thumbnail,...,"$1,953",Monthly,568,505 18th St South,Arlington,VA,38.8738,-77.1055,RentLingo,1577358567
3185,5509079183,housing/rent/apartment,Discover a new Aire Apartments in Arlington.,The location of this community Tharp. in the a...,Pool,1.0,2.0,USD,No,Thumbnail,...,$814,Monthly,690,NaN,Arlington,TX,32.7220,-97.0830,RentDigs.com,1568772228